.card {
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  border: none;
  position: relative;
}

.header__image {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.card img {
  min-width: 100%;
}

.widgets-area {
  padding: 15px;
}

.top-bar, .top-bar ul {
  background: transparent;
}

.top-bar a {
  background: transparent;
  color: black;
}

.top-bar li {
  transition: all 0.3s ease-in-out;
  border-bottom: 2px solid transparent;
}

.top-bar li:hover {
  border-bottom: 2px solid black;
}

.featured-card {
  height: 500px;
}

.card .card-divider {
  position: absolute;
  top: 20px;
  background-color: rgba(17, 17, 17, 0.6);
  font-weight: 700;
  color: white;
}

.card .card-divider a {
  color: white;
}

.featured-card img {
  max-width: none;
}

.slick-dotted.slick-slider {
  margin-bottom: 45px;
}

.blog-element {
  display: block;
  height: 200px;
  overflow: hidden;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 20px;
}

.blog-element a {
  color: white;
  font-weight: 700;
  text-shadow: 0 1px 3px rgba(0,0,0,0.5);
}

.second-row-padding:nth-child(2) {
  padding-right: 0;
}

.second-row-padding:nth-child(3) {
  padding-left: 0;
}

.third-row-padding { padding: 0; }
.third-row-padding:nth-child(4) { padding-left: 15px; }
.third-row-padding:nth-child(6) { padding-right: 15px; }
